@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--background: #151515;
	--accent: #1481c6;
	--text-primary: #f7f7f7;
	--text-dim: #b4b4b4;
	--grey: #343434;
	--purple: #8e2ee9;
	--light-blue: #3981ca;
	--dark-blue: #0954eb;
	--darker-blue: #0352f0;
	/* sizes */
	--xxs: 0.25rem;
	--xs: 0.5rem;
	--s: 0.75rem;
	--m: 1rem;
	--l: 1.5rem;
	--xl: 2rem;
	--xxl: 2.5rem;
	--xxxl: 3rem;
	/* border radius */
	--br-s: 4px;
	--br-m: 8px;
	--br-l: 12px;
	--dark-gradient: linear-gradient(129.01deg, #202020 0%, #141414 100%);
	--purple-gradient: radial-gradient(at 92% 97%, hsla(253, 51%, 53%, 1) 0px, transparent 50%),
		radial-gradient(at 74% 72%, hsla(254, 51%, 53%, 1) 0px, transparent 50%),
		radial-gradient(at 100% 5%, hsla(275, 51%, 53%, 1) 0px, transparent 50%),
		radial-gradient(at 43% 45%, hsla(244, 51%, 53%, 1) 0px, transparent 50%);
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: var(--background);
	color: var(--text-primary);
	font-family: 'League Spartan', sans-serif;
	width: 100vw;
	overflow-x: hidden;
	font-smoothing: antialiased;
}

a {
	text-decoration: none;
	font-weight: 500;
	color: var(--text-primary);
	transition: 0.2s ease-in-out;
}

a:hover {
	color: var(--text-dim);
}

button {
	background-color: transparent;
	color: var(--text-primary);
	padding: var(--xs) var(--m);
	border: 1px solid var(--text-primary);
	font: inherit;
	border-radius: var(--br-m);
}

button:hover {
	cursor: pointer;
}

.primary-btn {
	background-color: var(--text-primary);
	color: var(--background);
	font-weight: 600;
}

.bg-grey {
	background-color: var(--grey);
	border-color: transparent;
	color: var(--text-primary);
	width: 100%;
}

main {
	width: 70vw;
	margin: var(--l) auto;
}

p {
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: var(--s);
}

.openIcon {
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;
	opacity: 0.6;
	transition: 0.25s ease-in-out;
}

a:hover .openIcon {
	opacity: 1;
}

.container404 {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box404 {
	height: 50%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	border-radius: var(--br-m);
	background-color: hsla(288, 89%, 43%, 1);
	background-image: radial-gradient(at 32% 27%, hsla(251, 98%, 43%, 1) 0px, transparent 50%),
		radial-gradient(at 58% 6%, hsla(206, 78%, 43%, 1) 0px, transparent 50%),
		radial-gradient(at 36% 32%, hsla(296, 84%, 43%, 1) 0px, transparent 50%),
		radial-gradient(at 41% 90%, hsla(288, 90%, 43%, 1) 0px, transparent 50%),
		radial-gradient(at 42% 86%, hsla(207, 79%, 43%, 1) 0px, transparent 50%),
		radial-gradient(at 61% 66%, hsla(264, 80%, 43%, 1) 0px, transparent 50%),
		radial-gradient(at 21% 58%, hsla(99, 90%, 43%, 1) 0px, transparent 50%);
}

.links404 button {
	border: transparent;
}
