.container {
}

.rowOne {
	display: grid;
	grid-gap: var(--m);
	grid-template-rows: 13rem;
	grid-template-columns: 3fr 1fr 1fr;
	grid-auto-flow: row;
	align-self: auto;

	.heroText {
		font-size: 2.54rem;
		font-weight: 800;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--xl) var(--xxl);
		position: relative;
		border-radius: var(--br-m);
		overflow: hidden;
		background-color: hsla(288, 89%, 43%, 1);

		span {
			z-index: 1;
		}

		.heroGradient {
			position: absolute;
			width: 20vw;
			height: 20vw;
			background-color: hsla(288, 89%, 43%, 1);
			background-image: radial-gradient(at 32% 27%, hsla(251, 98%, 43%, 1) 0px, transparent 50%),
				radial-gradient(at 58% 6%, hsla(206, 78%, 43%, 1) 0px, transparent 50%),
				radial-gradient(at 36% 32%, hsla(296, 84%, 43%, 1) 0px, transparent 50%),
				radial-gradient(at 41% 90%, hsla(288, 90%, 43%, 1) 0px, transparent 50%),
				radial-gradient(at 42% 86%, hsla(207, 79%, 43%, 1) 0px, transparent 50%),
				radial-gradient(at 61% 66%, hsla(264, 80%, 43%, 1) 0px, transparent 50%),
				radial-gradient(at 21% 58%, hsla(99, 90%, 43%, 1) 0px, transparent 50%);

			@media only screen and (max-width: 768px) {
				width: 40vw;
				height: 40vw;
			}
		}
	}

	.aboutCard {
		background: var(--dark-gradient);
		border-radius: var(--br-m);
		border: 2px solid var(--grey);
		height: 100%;
		position: relative;
		transform-style: preserve-3d;
		-webkit-perspective: 1000px;
		perspective: 1000px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: var(--m);

		.aboutCard_intro {
			display: flex;
			flex-direction: column;
			gap: var(--s);

			h1 {
				font-size: 1.8rem;
			}
		}
	}

	.workCard {
		background: var(--dark-gradient);
		border-radius: var(--br-m);
		border: 2px solid var(--grey);
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: var(--m);

		.workCard_imageContainer {
			position: relative;
			width: 90%;
			height: 6rem;
		}

		.workTexts {
			display: flex;
			flex-direction: column;
			gap: var(--xs);
		}
	}

	@media only screen and (max-width: 1024px) {
		grid-template-columns: 2fr 1fr 1fr;

		.heroText {
			font-size: 2.5rem;
		}
	}

	@media only screen and (max-width: 768px) {
		display: flex;
		flex-wrap: wrap;

		.heroText {
			width: 100%;
			height: 13rem;
			padding: var(--l) var(--l);
		}

		a {
			width: calc(50% - 0.5rem);
			height: 13rem;
		}

		.workCard .workCard_imageContainer {
			width: 50%;
		}
		.workTexts {
			width: 100%;
			text-align: left;
		}
	}

	@media only screen and (max-width: 426px) {
		.heroText {
			.heroGradient {
				width: 100%;
				height: 100%;
			}
		}
	}

	@media only screen and (max-width: 320px) {
		.heroText {
			padding: var(--s) var(--s);
			font-size: 2rem;
		}

		a {
			width: 100%;
		}
	}
}

.subText {
	color: var(--text-dim);
	margin-bottom: var(--xxs);

	@media only screen and (max-width: 426px) {
		font-size: 14px;
	}
}

.Col {
	grid-column-gap: var(--m);
	grid-row-gap: var(--m);
	grid-template-rows: auto;
	grid-template-columns: 1fr calc(100% - 13rem);
	grid-auto-columns: 1fr;
	display: grid;
	margin-top: var(--m);

	.colOne {
		width: 12rem;
		height: 100%;
		grid-column-gap: var(--m);
		grid-row-gap: var(--m);
		flex-direction: column;
		display: flex;

		.profiles {
			padding: var(--m);
			background: var(--dark-gradient);
			border-radius: var(--br-m);
			border: 2px solid var(--grey);
			height: 14rem;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			gap: var(--m);

			.profileCard {
				background: var(--dark-gradient);
				border: 2px solid var(--grey);
				padding: var(--s);
				border-radius: var(--br-m);
				display: flex;
				justify-content: space-around;
				width: 100%;

				.profileCardItem {
					width: 35px;
					height: 35px;
					position: relative;
				}

				@media only screen and (max-width: 426px) {
					.profileCardItem {
						width: 25px;
						height: 25px;
					}
				}
			}

			.profilesContact {
				width: 100%;

				P {
					margin-bottom: var(--xxs);
				}
			}
		}

		@media only screen and (max-width: 768px) {
			flex-direction: row;
			width: 100%;

			.profiles {
				width: calc(50% - 0.5rem);
			}
		}

		@media only screen and (max-width: 320px) {
			flex-direction: column;
			width: 100%;

			.profiles {
				width: 100%;
			}
		}
	}

	.colTwo {
		grid-column-gap: var(--m);
		grid-row-gap: var(--m);
		display: flex;
		flex-direction: column;

		.servicesCardsContainer {
			height: 14rem;
			background: var(--dark-gradient);
			border-radius: var(--br-m);
			border: 2px solid var(--grey);
			padding: var(--s);
			position: relative;

			display: flex;
			flex-direction: column;
			justify-content: center;

			.serviceCards {
				display: flex;
				justify-content: space-around;
			}

			.serviceCard {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.serviceCard_image {
					position: relative;
					width: 3.5rem;
					height: 3.5rem;
				}

				p {
					font-size: 1.2rem;
					font-weight: 600;
					margin-bottom: 0;
					margin-top: var(--xs);
				}
			}

			.serviceHeader {
				position: absolute;
				bottom: var(--s);
				left: var(--s);
			}

			@media only screen and (max-width: 426px) {
				padding: var(--xs);

				.serviceCard {
					gap: var(--xs);
					margin-bottom: 1rem;

					.serviceCard_image {
						width: 2.5rem;
						height: 2.5rem;
					}

					P {
						font-size: 1rem;
						text-align: center;
					}
				}

				.serviceHeader {
					bottom: var(--xxs);
					left: 50%;
					transform: translateX(-50%);
				}
			}

			@media only screen and (max-width: 320px) {
				height: fit-content;
				padding: var(--l);

				.serviceCards {
					flex-direction: column;
					gap: 1rem;

					.serviceCard {
						gap: var(--xxs);
					}
				}
			}
		}

		.contactSection {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			height: 12rem;

			.letsWorkRow {
				width: 100%;
				display: flex;
				gap: 1rem;
				height: 100%;

				.letWorkCard {
					width: 100%;
					background: var(--dark-gradient);
					border-radius: var(--br-m);
					border: 2px solid var(--grey);
					padding: var(--s);
					position: relative;

					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding: var(--xl) var(--xxl);

					h2 {
						font-size: 2.54rem;
						font-weight: 800;
					}

					p {
						margin-top: var(--xxs);
						margin-bottom: 0;
					}

					a {
						position: absolute;
						width: 100%;
						height: 100%;
					}

					.gradientText {
						background-color: var(--purple);
						background-image: var(--purple-gradient);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}

				.photographyContainer {
					width: 16rem;
					height: 100%;
					position: relative;
					border-radius: var(--br-m);
					overflow: hidden;

					img {
						object-fit: cover;
					}
				}
			}

			@media only screen and (max-width: 426px) {
				height: 100%;

				.letsWorkRow {
					flex-direction: column-reverse;
					height: max-content;

					.letWorkCard {
						h2 {
							text-align: center;
							font-size: 2rem;
						}
						p {
							margin-top: 1rem;
							font-size: 0.8rem;
						}
					}

					.photographyContainer {
						width: 100%;
						height: 13rem;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {
		grid-template-rows: 1fr calc(100% - 13rem);
		grid-template-columns: 100%;
	}
}
