.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: var(--xxl);
}

.chipContainer {
	display: flex;
	gap: 1rem;
	margin-bottom: var(--m);
	flex-wrap: wrap;

	.chip {
		background-color: var(--text-dim);
		color: var(--background);
		font-weight: 600;
		font-size: 0.9rem;
		padding: var(--xxs) var(--s);
		border-radius: var(--br-m);
		transition: background-color 0.25s ease-in-out;

		&:hover {
			background-color: var(--text-primary);
		}
	}

	@media only screen and (max-width: 768px) {
		.chip {
			font-size: 0.7;
			font-weight: 500;
		}
	}

	@media only screen and (max-width: 376px) {
		.chip {
			font-size: 0.7rem;
		}
	}
}

.contentContainer {
	display: flex;
	flex-direction: column;
	row-gap: var(--xl);

	h1 {
		font-size: 3rem;
	}

	@media only screen and (max-width: 768px) {
		h1 {
			font-size: 2rem;
		}
	}

	@media only screen and (max-width: 426px) {
		h1 {
			font-size: 1.8rem;
		}
	}

	@media only screen and (max-width: 376px) {
		h1 {
			font-size: 1.6rem;
		}
	}
}

.mainImage {
	width: 100%;
	height: 70vh;
	position: relative;

	img {
		object-fit: cover;
		object-position: 0% 0%;
	}

	@media only screen and (max-width: 768px) {
		height: 61vh;
	}

	@media only screen and (max-width: 426px) {
		height: 33vh;
	}

	@media only screen and (max-width: 376px) {
		height: 30vh;
	}

	@media only screen and (max-width: 321px) {
		height: 25vh;
	}
}

.descBox {
	background: var(--dark-gradient);
	border: 2px solid var(--grey);
	padding: var(--m);
	border-radius: var(--s);
	display: flex;
	gap: 1rem;

	.descDetails {
		width: 15%;
		display: flex;
		flex-direction: column;
		row-gap: 0.5rem;

		.descDetail {
			display: flex;
			flex-direction: column;

			div {
				font-size: 0.8rem;
				color: var(--text-dim);
				margin-bottom: var(--xxs);
			}

			.servicesCotainer {
				display: flex;
				flex-wrap: wrap;
			}
		}
	}

	.descContent {
		width: 85%;

		h3 {
			margin-bottom: var(--m);
		}
		h4 {
			margin-bottom: var(--s);
		}
	}

	@media only screen and (max-width: 426px) {
		flex-direction: column;

		.descDetails {
			width: 100%;
			padding-bottom: var(--m);
			border-bottom: 2px solid var(--grey);

			.descDetail {
				span {
					font-size: 0.9rem;
				}
			}
		}

		.descContent {
			width: 100%;
		}
	}
}

.galleryGrid {
	display: grid;
	grid-row: auto;
	grid-template-columns: auto auto auto;
	gap: 1rem;

	@media only screen and (max-width: 768px) {
		grid-template-columns: auto auto;
	}

	@media only screen and (max-width: 376px) {
		grid-template-columns: auto;
	}
}

.galleryBox {
	height: 13rem;
	width: 100%;
	background: var(--dark-gradient);
	padding: var(--m) var(--xs);
	border-width: 2px;
	border-color: transparent;
	border-color: var(--grey);
	transition: border 0.25s ease-in-out;

	&:hover {
		border-color: var(--text-dim);
	}

	.galleryImageContainer {
		position: relative;
		width: 100%;
		height: 100%;

		img {
			object-fit: contain;
			object-position: 50% 50%;
		}
	}
}

.nextContainer {
	text-align: center;
	margin-top: var(--l);

	a {
		padding: var(--xs) var(--m);
		border-radius: var(--br-s);
	}
}

.workListcontainer {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: var(--xl);
	justify-content: center;

	@media only screen and (max-width: 426px) {
		flex-direction: column;
	}
}
