.container {
	background-color: #111;
	// background: url('../../assets/pattern-tile.svg');
	background-repeat: repeat;
	padding: var(--l) var(--l);
}

.imageContainer {
	width: 50vw;
	height: 60vh;
	position: relative;

	img {
		object-fit: contain;
		border-radius: var(--br-s);
	}

	.imagePotrait {
		width: 15vw;
	}

	.imageLandscape {
		width: 50vw;
	}

	@media only screen and (max-width: 768px) {
		width: 80vw;
	}
}

.buttonArea {
	margin-top: var(--s);
	display: flex;
	justify-content: center;

	button {
		border-radius: 50%;
		width: max-content;
		padding: 0;
		width: 4rem;
		height: 4rem;
		border: none;
		box-shadow: inset 0px 0px 3px 4px rgba(0, 0, 0, 0.5);
	}
}
