.nav {
	position: sticky;
	top: 0;
	background: rgb(21, 21, 21);
	background: linear-gradient(
		180deg,
		rgba(21, 21, 21, 1) 70%,
		rgba(21, 21, 21, 0.8491771708683473) 80%,
		rgba(21, 21, 21, 0.65) 85%,
		rgba(21, 21, 21, 0.45) 90%,
		rgba(61, 61, 61, 0) 100%
	);
	z-index: 10;
	position: relative;

	.navContainer {
		display: flex;
		width: 70vw;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 0;
	}

	.linkIsland {
		display: flex;
		gap: 1rem;
		align-items: center;

		.contactContainer {
			display: flex;
			align-items: center;

			a {
				margin-left: var(--xs);
			}
		}

		@media only screen and (max-width: 768px) {
			display: none;
		}
	}
}

.menuButton {
	display: none;

	@media only screen and (max-width: 768px) {
		display: block;
	}
}

.mobileMenu {
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: var(--background);
	justify-content: flex-start;
	align-items: center;
	gap: 2.5rem;
	padding-top: var(--xl);

	a {
		font-size: 3rem;
	}

	@media only screen and (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}
